
/* css Contacto */
.hero-contacto{
    display: flex;
    padding: 3rem 1rem;
    justify-content:center;
    gap: 2rem;

    .titulo-contacto{
        text-align: center;
        margin-block-end: 3rem;
    }

    
}
