
.ser-lista{
    .table-lista{

        padding: 2rem 3rem;
        margin: auto;


        .tr-tabla{
            .atencion-img{
                width: 530px;
            }
            
            .lista-servicios{
                list-style:inside;
                text-align: left;
                line-height: 3;
            }
        }
        
    }
    
}
