/* CSS sobreMi*/
.sobreMi{
    margin-top: 1rem;
    text-align: center;
}

.hero-yo{
    padding:1rem 3rem;
    display: flex;

    .podo-img{
        padding: 1rem 3rem;
        transition: transform 0.2s;
       
        &:hover {
          transform: scale(1.1);
      }
    }
    .yenny-texto{
        margin-top: 1rem;
        text-align:justify;

        .atencion{
        margin-top: 2rem;
        text-align: center;
        }

        .atencion-btn{
        display: inline-block;
        color:$colorSegundario;
        border:1px solid $colorSegundario;
        background-color: $colorTercero;
        border-radius: 5rem;
        padding: 0.5rem;
        margin-top: 2rem;
        display: block;
        text-align: center;
        margin: auto;
        font-weight: bold;
        font-size: 2rem;
        }

    }

    @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      
      #sobreMi-anim {
        animation: fadeIn 2s ease-in-out;
      }
}
