* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar-nav .nav-link {
  position: relative;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #000;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.hero {
  background-color: #0097DA;
  color: black;
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  border: 3px solid;
}
.hero .datos {
  text-align: center;
  border-radius: 2rem;
  margin-top: 2rem;
}
.hero .datos .hero-title2 {
  font-size: 3rem;
  color: white;
}
.hero .datos .hero-text {
  margin-top: 2rem;
  font-size: 1.5rem;
}
.hero .datos .hero-btn {
  display: inline-block;
  color: #4B1616;
  color: black;
  border: 1px solid black;
  background-color: white;
  border-radius: 5rem;
  padding: 0.5rem;
  margin-top: 2rem;
}
.hero .hero-img {
  border: 2px solid;
  width: 300px;
  background-color: white;
  border-radius: 3rem;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero #index-anim {
  animation: fadeIn 1s ease-in-out;
}

.titulo2 {
  margin-top: 1rem;
  text-align: center;
  font-size: 3rem;
}

.servicios {
  display: grid;
  height: 45vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  align-items: center;
  text-align: center;
  /*display: flex;
   align-items: center;
   text-align: center;
   padding: 3rem 2rem;
   justify-content: space-between;*/
}
.servicios .pack1 {
  padding: 1rem;
  border: 3px solid;
  background-color: #0097DA;
}
.servicios .pack1 .pack-img {
  width: 50%;
}
.servicios .pack1 .title-Serv {
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
}
.servicios .pack1 .pack1-btn {
  background-color: #25d366;
  border: 1px solid black;
  padding: 0.5rem;
}

/* CSS Blog*/
.hero-serv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border: 1px solid;
}
.hero-serv .imagen-Serv {
  padding: 1rem;
}
.hero-serv .texto-Tratamiento {
  background-color: #0097DA;
  width: 600px;
  padding: 1rem 2rem;
  border: 1px solid;
}

/* CSS sobreMi*/
.sobreMi {
  margin-top: 1rem;
  text-align: center;
}

.hero-yo {
  padding: 1rem 3rem;
  display: flex;
}
.hero-yo .podo-img {
  padding: 1rem 3rem;
}
.hero-yo .yenny-texto {
  margin-top: 1rem;
  text-align: justify;
}
.hero-yo .yenny-texto .atencion {
  margin-top: 2rem;
  text-align: center;
}
.hero-yo .yenny-texto .atencion-btn {
  display: inline-block;
  color: black;
  border: 1px solid black;
  background-color: white;
  border-radius: 5rem;
  padding: 0.5rem;
  margin-top: 2rem;
  display: block;
  text-align: center;
  margin: auto;
  font-weight: bold;
  font-size: 2rem;
}

.ser-lista .table-lista {
  padding: 2rem 3rem;
  margin: auto;
}
.ser-lista .table-lista .tr-tabla .atencion-img {
  width: 530px;
}
.ser-lista .table-lista .tr-tabla .lista-servicios {
  list-style: inside;
  text-align: left;
  line-height: 3;
}

/* css Contacto */
.hero-contacto {
  display: flex;
  padding: 3rem 1rem;
  justify-content: center;
  gap: 2rem;
}
.hero-contacto .titulo-contacto {
  text-align: center;
  margin-block-end: 3rem;
}

.footer {
  display: flex;
  background-color: black;
  color: white;
  padding: 3rem 2rem;
}
.footer .float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px white;
  z-index: 100;
}
.footer .my-float {
  margin-top: 16px;
}
.footer .footer1 {
  margin-top: 4rem;
  flex: 3;
}
.footer .footer2 {
  flex: 1;
}
.footer .footer3 {
  flex: 2;
}

@media (max-width: 1300px) {
  .servicios {
    height: 110%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: normal;
  }
  .yenny-n {
    width: 200px;
  }
  .hero-yo {
    padding: 1rem 3rem;
    flex-direction: column;
  }
  .hero-yo .yenny-texto {
    margin-top: 0.5rem;
    text-align: justify;
    font-size: 12px;
  }
  .hero-contacto {
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 9999;
  }
}
@media (max-width: 700px) {
  /*inicio*/
  .navbar-collapse {
    position: fixed;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 9999;
  }
  .hero .hero-img {
    width: 50px;
    align-items: left;
    border: 2px solid;
    border-radius: 0rem;
  }
  .hero-title {
    font-size: 1.5rem;
  }
  .hero .datos .hero-title2 {
    font-size: 1.5rem;
  }
  .hero-text {
    font-size: 20px;
  }
  .footer {
    flex-direction: column;
    padding: 1rem 1rem;
    align-items: center;
  }
  /*sobreMI*/
  .atencion-btn {
    font-size: 1rem;
  }
  .titulo2 {
    font-size: 1.5rem;
  }
  .texto-Tratamiento {
    font-size: 0.6rem;
  }
}/*# sourceMappingURL=estilos.css.map */